.dropdown {
  display: inline-block;
  height: 100%;
  position: relative;
}

button {
  display: flex;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  text-align: center;
  width: max-content;
  list-style: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: visibility 0s, opacity 0.5s;
  transition: 500ms;
  left: 50%;
  transform: translateY(10px) translateX(-50%);
  border-radius: 5px;
}

.dropdown-content.show {
  visibility: visible;
  opacity: 1;
}

.dropdown-content li {
  padding: 0.2em 64px;
  margin: 0.5em 0;
  border-bottom: 1px solid var(--font-white);
  border-top: 1px solid var(--font-white);
}

@media screen and (max-width: 675px) {
  .dropdown-content {
    left: 0;
    transform: translateY(10px) translateX(0);
  }
}
