.pagebody {
  padding: 32px 10% 0 10%;
  color: var(--font-white);
  position: relative;
}

.pagebody::before {
  content: "";
  position: absolute;
  background-image: url("../../assets/imgs/sol.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: opacity(0.15) grayscale(0.5);
  z-index: -10;
}

@media screen and (max-width: 675px) {
  .pagebody {
    padding: 32px 2em;
  }

  .pagebody::before {
    background-size: 75%;
  }
}
